__pycache__/
/32_emails/password.txt
/32_emails/birthdays.csv
/34_api/api_key.txt
/29_Password/data.txt
/29_Password/data.json
/46_spotify/spotify_cred.txt
36_stocks/api_key.txt
/37_habit/user_param.txt
